@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow-y:hidden;
  }

  h1,h2,h3,h4{
      font-family: Arial, Helvetica, sans-serif;
      /* text-decoration: underline; */
  }

  .navbar-brand{
    font-family: "Roboto", sans-serif;
  } 

  #mid-pane {
      /* background-color: red; */
      height: 90%;
      /* overflow-y: scroll; */
      width: 49%;
      float: left;
      min-width: 280px;

      /* Hide scrollbar. */
      overflow-y: scroll;
      scrollbar-width: none;
      /* Firefox */
      -ms-overflow-style: none;

      /* IE and Edge */
      &::-webkit-scrollbar {
          display: none;
          /* Chrome, Safari and Opera */
      }
  }
  .const-input{
      margin:3px;
      width:180px;
  }

  #garden {
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows: 20% 20% 20% 20% 20%;
  }

    #constants-box {
        width:96%;
        /* height:100px; */
        /* height:20%; */
        /* display: block; */
        /* height: auto; */
        padding:8px;
        border-bottom:solid lightgray 1px;
        /* display: grid; */
        /* grid-template-columns: 29% 69%; */
        /* grid-template-rows: 100%; */
    }

    /* #constants-box{ */
    /* } */

  /* #constants-header{ */
    /* display:flex; */
    /* background-color: blue; */
  /* } */

  #constants-title:hover{
    cursor: pointer;
  }

  #set-constants-button {
    /* display:flex; */
    /* width:180px; */
    /* font-size: 14px; */
    /* font-family:Arial; */
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */

    /* background-color: red; */
    /* vertical-align: middle; */
    /* margin-left:20px; */
    /* width:120px; */
    /* padding:5px; */
    margin-bottom:5px;
    /* border-radius: 10px; */
    text-align: center;
    /* position: relative; */
  }

  #set-constants-button .button-base{
    padding-left:10px;
    padding-right:10px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    vertical-align: middle;
    text-align: center;
  }

  #choose-constants-elems{
      font-size: 14px;
      font-family: monospace;
      font-family: Menlo, Monaco, "Times";
      /* float:left; */
      /* height:100%; */
      padding-left:10px;
      grid-column-start: 2;

  }
  #choose-constants-elems input{
    font-family: monospace;
    font-family: Menlo, Monaco, "Times";
  }



  #app-title{
      color:gray;
      position: absolute;
      right:0;
      top:0;
      font-family: Arial, Helvetica, sans-serif;
      padding:5px;
      z-index:1000;
  }

  .pane-title{
      font-size:16px;
      font-weight: bold;
      padding-bottom:12px;
      padding-top:8px;
  }

  #trace-state-heading{
    width:98%;
    border-bottom: solid 1px lightgray;
  }

  #toggle-spec-button{
      position:absolute;
      /* color:red; */
      background-color: lightblue;
      border-radius: 5px;
      border:solid;
      font-size:18px;
      padding:5px;
      z-index: 1000;
      margin:5px;
      right:0;
      bottom:0;
  }

  #toggle-spec-button:hover{
      cursor: pointer;
      background-color: lightgray;
  }

  #playground-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  #repl-container{
    /* width:200px; */
    margin-top:20px;
  }

  #repl-result{
    padding:15px;
    font-size:20px;
    font-family: monospace;
    border-top: solid 1px gray;
    margin-top:15px;
    min-height:20px;
    width:600px;
    /* border-radius: 5px; */
  }


  header {
    box-sizing: border-box;
    display: flex;
    padding: 20px;
    height: 60px;
    border-bottom: 1px solid #aaa;
  }

  main {
    flex: 1;
    position: relative;
  }

    #header-tab-bar {
        display:grid;
        /* width: 100%; */
        grid-template-columns: 20% 20%;
        border-bottom: 1px solid gray;
        padding-bottom:6px;
        /* height:4%; */
        /* grid-template-rows: 100%; */
    }

    .header-tab {
        /* Rounded tab selection button */
        border: 1px solid #aaa;
        grid-column-start: col-start 0;
        padding:5px;
        text-align: center;
        border-radius: 5px;
        margin-left:5px;
        margin-right:5px;
        font-size: 14px;
    }
    #spec-name-header{
        grid-column-start: col-start 3;
        padding:5px;
        text-align: center;
        font-size: 14px;
    }

    #load-spec-button{
        grid-column-start: col-start 4;
        text-align: center;
        font-size: 14px;
        background-color: steelblue;
        border: 1px solid #aaa;
        padding:3px;
        text-align: center;
        border-radius: 5px;
        margin-left:3px;
        margin-right:3px;
        color:white;
    }

    #load-spec-url-button {
        margin-top:10px;
        padding:4px;
        padding-left:10px;
        padding-right   :10px;
    }


    a:hover{
        cursor: pointer;
    }

    button:hover{
        cursor:pointer;
    }

    #load-spec-button:hover{
        cursor: pointer;
        /* color:black; */
        background-color: gray;
    }

    .header-tab:hover{
        cursor: pointer;
        background-color: lightgray;
    }

  #code-input-pane {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 3px;
    width: 98%;
    min-height: 200px;
    min-width: 150px;
    height:100%;
    white-space: nowrap;
    /* background: #838383; */
    color: white;
  }

  #eval-graph-pane{
    /* width:800px; */
    width:100%;
    height:100%;
  }

  .panel-container {
    display: flex;
    flex-direction: row;
    /* border: 1px solid silver; */
    overflow-y: hidden;
    height: 100%;
    
  }

  .splitter {
    flex: 0 0 auto;
    width: 18px;  
    background: url(https://raw.githubusercontent.com/RickStrahl/jquery-resizable/master/assets/vsizegrip.png) center center no-repeat #535353;
    min-height: 200px;
    cursor: col-resize;  
    margin-left: 8px;
  }

  #poss-next-states-title{
    border-bottom: solid 1px lightgray;
  }

  #initial-states{
      /* min-height: 250px; */
      /* max-height:300px; */
      /* height:90%; */
      /* width:98%; */
      /* height:100px; */
      overflow-y:scroll;
      /* border-bottom: 1px lightgray solid; */
      /* border-radius: 5px; */
      /* height:80%; */
      font-size:12px;
      width:100%;
  }

  #next-states{
      font-size:12px;
  }

  #trace{
    padding-left:15px;
    height:100%;
    overflow-y: scroll;
    /* border-bottom:solid 1px lightgray; */

    /* Hide scrollbar. */
    overflow-y: scroll;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    &::-webkit-scrollbar {
      display: none; /* Chrome, Safari and Opera */
    }
  }

  .tlc-state{
      /* font-family: 'JetBrains Mono', monospace; */
      /* font-family: 'Source Code Pro', monospace; */
      font-size: 12px;
      font-family: Menlo, Monaco, "Times";
  }

  .trace-state b{
      text-decoration: underline;
  }

  .trace-state{
      border:none;
      border-color:lightgray;
      border-width: 1px;
      border-radius: 3px;
      padding:6px;
      margin-bottom:3px;
      margin-top:5px;
      width:95%;
      /* min-height:200px; */
      /* background-color: orange; */

      display: grid;
      grid-template-columns: 75% 25%;
      grid-template-rows: 100%;
  }

  .state-choice-varval{
    font-size:8px;
  }

  .trace-state-table{
    border:solid 1px gray;
    font-size:12px;
    width:100%;
  }

  .trace-state-table-div{
    /* float:left; */
    /* border:solid 1px blue; */
    width:75%;
  }

  .trace-state-table .th-state-varname{
    border-right: 1px solid gray;
    font-weight: bold;
  }

  svg {
    width:100%;
    height: 90%;
  }

  .th-state-varname:hover{
    cursor:pointer;
    color:gray;
    /* color: #FF9494; */
  }

  #hidden-state-vars{
    font-size:12px;
    padding-top:8px;
    padding-bottom:5px;
    /* font-family: Menlo, Monaco, "Times"; */
  }

  .hidden-state-var{
    font-family: Menlo, Monaco, "Times";
  }    


  #state-choices-pane{
    /* color:red; */
    height:92%;
    /* border-bottom:solid 1px gray; */
    /* overflow-y: scroll; */
    overflow-y: scroll;

  }

  .hidden-state-var{
    padding-left: 5px;
    padding-right:5px;
    margin-left:3px;
    margin-right:3px;
    border: solid 1px gray;
  }

  .hidden-state-var:hover{
    cursor: pointer;
    background-color: lightgreen;
  }

  .trace-state-table .th-state-traceexpr{
    border-right: 1px solid gray;
    /* font-weight: bold; */
    /* background-color: #eee; */
  }

  .trace-state-table .tr-state-traceexpr-currinput{
    border-right: 1px solid gray;
    /* font-weight: bold; */
    /* background-color: #ddd; */
    color:gray;
  }

  .trace-state-table .tr-state-traceexpr-currinput-error{
    background-color: #FF9494;
  }

  .trace-state-table th{
    border-bottom: 1px solid gray;
    font-size:12px;
    color:red;
    color:    #276983;

    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
  }

  #constant-buttons-div{
    /* width:29%; */
    grid-column-start: 1;

  }

  .trace-select-table td{
    /* border:solid 1px red; */
    font-size: 10px;
  }

  .trace-select-table  .action-name{
    color:black;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-size: 12px;
    padding-bottom: 3px;
    /* width:90%; */
    /* padding-top: 3px; */
    /* margin-bottom:43px; */
    /* background-color: steelblue; */
    /* color:white; */
    /* border: solid 1px black; */
    /* text-decoration: underline; */
    /* border:solid gray 1px; */
    width:100%;
    /* background-color: lightgray; */
    font-weight:bold;
    border-radius: 6px;
    /* font-weight: bold; */
    /* border-bottom:solid 1px black; */
  }

  .action-choice-name, .action-choice-param{
    color:black;
    font-size: 12px;
    min-width:80px;
    font-weight:bold;
    margin-top:3px;
    margin-bottom:3px;
  }

  .action-choice-name{
    /* max-width:250px; */
    /* border:solid 1px black; */
    border-right:solid 1px gray;
    padding:4px;   
    padding-right:12px;
    margin-right:10px;
    font-size:12px;

  }

  .action-choice-param {
    color:black;
    font-size: 12px;
    margin-left:5px;
    font-weight:bold;
    border-radius: 6px; 
    padding:4px;   
    /* width: 100%; */
    border:solid 1px black;
    /* max-width:150px; */
    text-align: center;

  }

  .action-choice-disabled{
    color:lightgray
  }

  /* .action-choice-disabled:hover{ */
    /* border:solid 1px white; */
    /* color:lightgray; */
    /* background-color: white; */
  /* } */

  .action-choice-param:hover {
    background-color:steelblue;
    cursor: pointer;
    color:white;
   } 

  .trace-expr-delete{
    cursor: pointer;
    font-size:9px;
    /* font-weight:bold; */
    color:gray;
    text-align:center;
  }

  .trace-expr-delete:hover{
    color:red;
  }

  table, th, td {
    border-collapse: collapse;
    vertical-align: top;
  }

  .trace-state-table th, td{
    padding: 3px;
    padding-left:5px;
    padding-right:10px;
    font-size:12px;
  }

  .init-state {
      /* background-color:#eee; */
      padding:5px;
      width:95%;
      /* float:left; */
      margin:3px;
      border:solid;
      border-color:gray;
      border-radius: 4px;
  }

  .init-state:hover{ 
    /* background-color:#eee; */
    cursor:pointer;
    /* border:solid; */
    /* border-color: black; */
  }

  .next-state-choice-full:hover{
    background-color:#eee;
    cursor:pointer;
    border:solid;
    border-color: black;
  }

  .state-varname{
    font-weight:bold;
  }

  .alias-var{
    color:blue;
    /* border-top:solid; */
    /* padding-top:100px; */
  }

  #code-container, #query-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    /* border-right: 1px solid #aaa; */
    border-bottom: 1px solid #aaa;

  }

  #trace-container {
    /* position: absolute; */
    /* top: 0; */
    /* left: 35%; */
    /* bottom: 0; */
    /* width:100%; */
    /* right: 30%; */
    padding-left:18px;
    /* overflow: auto; */
    /* overflow: hidden; */
    /* border-right:solid 0.5px lightgray; */
    /* background-color: lightgray; */

    /* background-color: orange; */
    height:70%;
    /* width:100%; */
    /* float:left; */
    /* border-left:solid 2px lightgray; */

    flex-grow: 1; /* default 0 */
    position: relative;
    min-width: 30%;
    /* border:solid 1px red; */
  }

  .resize-gutter {
    width: 8px;
    /* height: 100%; */
    background: #eee;
    position: relative;
    min-width: 8px;
    /* margin-right:100px; */
    /* top: 0; */
    /* left: 0; */
    /* cursor: col-resize; */
  }

  .resize-gutter-handle {
    cursor: col-resize;
    text-align: center;
    width: 7px;
    height:35px;
  }

  #repl-container {
    /* top: 0; */
    /* left: 35%; */
    /* bottom: 0; */
    /* width:20%; */
    /* right: 30%; */
    padding-left:10px;
    /* overflow: auto; */
    /* overflow: scroll; */
    /* border-right:solid 0.5px lightgray; */
    /* background-color: lightgray; */
    width:70%;
  }

  #repl-container input {
    font-size:16px;
    /* padding:15px; */
    font-family: Menlo, Monaco, "Times";
  }

  /* #explorer-pane {
    flex: 1 1 auto;
    padding: 8px;
    width: 100%;
    min-height: 200px;
    min-width: 200px;
    overflow-y: hidden;
  } */

  .header-item {
    margin-right: 30px;
  }

  #playground-container .CodeMirror {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
  }

  .action-name:hover{
    /* background-color: white; */
  }

  @font-face {
    font-family: "Cascadia";
    src: url("assets/cascadia/woff2/CascadiaMono.woff2") format('woff2');
  }

  .CodeMirror{
    font-size:13px;
    font-family: Menlo, Monaco, "Times";
  }

  #pane-selector{
    /* background-color: red; */
    /* width:100%; */
    text-align: center;
    width: 100%;
    padding-bottom:10px;
    padding-top:5px;
    /* margin: 0 auto; */
  }

  #pane-button-container{
    margin: 0 auto;
    width: 50%;
  }

  .pane-select-button{
    padding: 5px 0 0 5px;
    width:80px;
    text-align: center;
    font-size:12px;
  }

  .pane-select-button:hover{
    cursor: pointer;
  }

  #pane-selector tr{
    width:100px;
  }
  
  .pane-select-button.selected{
    border-bottom: solid 1px gray;
  }

  #output-container {
    padding: 0 10px;
    margin: 0;
  }

  #trace-buttons{
      /* width:98%; */
      /* border:solid; */
      /* overflow: hidden; */
      margin-top:10px;
  }

  .toggle-trace-button{
    padding-bottom: 2px;
    padding-top: 2px;
    color:gray;
  }

  .toggle-trace-button:hover{
    cursor: pointer;
    color:black;
  }

  .button-base{
    color:black;
    text-align: center;
    height:18px;
    vertical-align: middle;
    font-size:12px;
    border-radius: 5px;
    background-color: steelblue;
    background-color: #440874;
    background-color: #276983;
    color:white;
    padding-left:8px;
    padding-right:8px;
    padding-top:5px;
    padding-bottom:5px;
  }
  .button-base:hover{
    cursor: pointer;
    background-color: gray;
  }

  /* #trace-buttons{
    float:left;
  } */

  .trace-button{
    height:16px;
    float: left; 
    margin-right:5px; 
  }

  #logging-checkbox {
    vertical-align: middle;
  }

  .CodeMirror div.CodeMirror-cursor {
    border-left: 3px solid red;
  }

  a {
    text-decoration: none;
    color: #040404;
    padding: 2px;
  }

  a:hover {
    text-decoration: underline;
  }

  a.highlighted {
    background-color: #d9d9d9;
    color: red;
    border-radius: 3px;
    text-decoration: underline;
  }

  .query-error {
    text-decoration: underline red dashed;
  }

  .line-error{
    background-color:red;
    opacity:0.25;
  }

  .error-info{
    color:red;
    padding:10px;
    font-size:14px;
    border:solid 1px gray;
    margin:5px;
  }

  #trace-state-holder{
    /* width:0%; */
    /* background-color: yellowgreen; */
    display: inline-block;
    grid-column-start: 1;
  }

  #anim-div{
    border:solid 1px gray;
    width:85%;
    height:90%;
    display: inline-block;
    border-radius: 5px;
    padding:15px;
    /* float:left; */
    /* grid-column-start: 3; */
  }

  #load-spec-box{
    /* position:absolute; */
    margin-top:2%;
    margin-left:2%;
    width:90%;
    background-color:white;
    /* box-shadow: 0 0 5px 2px rgba(0,0,0,0.1); */
    border:solid 1px gray;
    border-radius: 10px;
    padding:25px;
    font-size:12px;
  }
  #load-spec-box input {
    padding:10px;
    /* border-radius:10px; */
    width:380px;
  }

  #load-spec-box a {
    color:blue;
  }

  #close-spec-box-button{
    margin-top:10px;
    padding:2px;
    padding-left:5px;
    padding-right   :5px;
    margin-top:40px;
    /* background-color: steelblue; */
  }

  .action-choice-param-container{
    /* overflow-x: scroll; */
    width:95%;
    border:solid 1px lightgray;
  }

  .flex-grid {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
  }
  .flex-col {
    /* flex: 1; */
    flex-shrink: 1;
  }

  .form-check-input:hover{
    cursor: pointer;
  }